{%- for m in messages -%}{%- if not loop.first -%}{{- '
' -}}{%- endif -%}{{- '<|im_start|>' + m['role'] + '
' + m['content'] + '<|im_end|>' -}}{%- endfor -%}{%- if add_generation_prompt -%}{{- '
<|im_start|>assistant
' -}}{%- endif -%}